{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}

{% block ajoutCoach %}
    <h1>Liste des commentaires</h1>
    <table border="1" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Description</th>
                <th>Sexe</th>
                <th>Photo</th> <!-- Add a new column for the photo -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
       {% for coach_admin in coach_admins %}

    <tr>
        <td>{{ coach_admin.id }}</td>
        <td>{{ coach_admin.nom }}</td>
        <td>{{ coach_admin.prenom }}</td>
        <td>{{ coach_admin.description }}</td>
        <td>{{coach_admin.sexe }}</td>
        <td><img src="{{ asset('uploads/photos/' ~coach_admin.photo) }}" alt="Coach Photo" style="width: 100px;"></td>
        <td>
       <a href="{{ path('app_coach_admin_edit', {'id': coach_admin.id}) }}">Modifier</a>

            <form method="post" action="{{ path('app_coach_admin_delete', {'id': coach_admin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coach_admin.id) }}">
                <button>supprimer</button>
            </form>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="7">Aucun utilisateur trouvé</td>
    </tr>
{% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_coach_admin_new') }}">Create new</a>
{% endblock %}
