{% extends 'base.html.twig' %}

{% block title %}CoachAdmin{% endblock %}

{% block body %}
    <h1>CoachAdmin</h1>

    <table border=1 class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Description</th>
                <th>Sexe</th>
                <th>Actions</th> <!-- Ajout de la colonne Actions -->
            </tr>
        </thead>
        <tbody>
        {% for coach in coach %} <!-- Utilisation de coachs au lieu de coach -->
            <tr>
                <td>{{ coach.id }}</td>
                <td>{{ coach.nomCo }}</td>
                <td>{{ coach.prenomCo }}</td>
                <td>{{ coach.description }}</td> <!-- Correction ici -->
                <td>{{ coach.sexe }}</td>
                
                <td>
                    <a href="{{ path('app_coach_admin_show', {'id': coach.id}) }}">voir</a>
                    <a href="{{ path('app_coach_admin_edit', {'id': coach.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_coach_admin_index') }}">Retour à la liste</a>

    {# Pas besoin de ce lien ici #}
    <!-- <a href="{{ path('app_coach_admin_edit', {'id': coach.id}) }}">Modifier</a> -->

    {{ include('coach_admin/_delete_form.html.twig') }}
{% endblock %}
