{% extends 'base.html.twig' %}

{% block title %}Seance index{% endblock %}

{% block body %}
<style>
    .white-text {
        color: white;
    }
    .orange-button {
        color: #FE6100; /* Orange color */
        text-decoration: none; /* Remove underline */
    }
</style>
    <h1>Liste des Seance</h1>

    <table class="table" style="color: white;">
        <thead>
            <tr>
                <th>Nom de la séance</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for seance in seances %}
            <tr>
                <td><a href="{{ path('app_seance_show', {'idseance': seance.idseance}) }}" class="orange-button">{{ seance.nomseance }}</a></td>
                <td>{{ seance.dates ? seance.dates|date('Y-m-d') : '' }}</td>
                <td>{{ seance.debut ? seance.debut|date('H:i:s') : '' }}</td>
                <td>{{ seance.fin ? seance.fin|date('H:i:s') : '' }}</td> 
                <td>   
                    <a href="{{ path('app_seance_edit', {'idseance': seance.idseance}) }}" class="orange-button">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %} 
        </tbody>
    </table>
   


{% endblock %}
