{% extends 'base-backend.html.twig' %}

{% block title %}Event Reservations{% endblock %}

{% block body %}
    <h1>Event Reservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Reservation ID</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cin</th>
                <th>Email</th>
                <th>NumTele</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ eventReservation.reservationid }}</td>
                    <td>{{ eventReservation.nom }}</td>
                    <td>{{ eventReservation.prenom }}</td>
                    <td>{{ eventReservation.cin }}</td>
                    <td>{{ eventReservation.email }}</td>
                    <td>{{ eventReservation.numTele }}</td>
                </tr>
        </tbody>
    </table>

    <a href="{{ path('app_eventreservation_index') }}">Back to List</a>
{% endblock %}
