{# {% extends 'base.html.twig' %} #}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

{% block title %}Edit Salle{% endblock %}

{% block body %}
    <h1>Modifier votre Salle</h1>

    {{ include('salle/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="row">
        <div class="col">
            <a href="{{ path('index_salle') }}" class="btn btn-secondary mr-2">Back to List</a>
            <a href="{{ path('app_seance_new', {'idS': salle.idS}) }}" class="btn btn-primary mr-2">Add Seance</a>
            {{ include('salle/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}


