{# {% extends 'base.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block body %}
<style>
    .white-text {
        color: white;
    }
</style>
    <h1>Salle index</h1>

    <table class="table" style="color: white;">
        <thead>
            <tr>
                <th>Ids</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Region</th>
                <th>Options</th>
                <th>Imagesalle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.ids }}</td>
                <td>{{ salle.nom }}</td>
                <td>{{ salle.adresse }}</td>
                <td>{{ salle.region }}</td>
                <td><ul>
            {% for option in salle.options %}
                <li>{{ option }}</li>
            {% endfor %}
        </ul></td>
                <td>{{ salle.imagesalle }}</td>
                <td>
                    <a href="{{ path('app_salle_show', {'idS': salle.idS}) }}">show</a>
                    <a href="{{ path('app_salle_edit', {'idS': salle.idS}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salle_new') }}">Create new</a>
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Salles{% endblock %}

{% block body %}
    <style>
        .salle-card {
            border: 0px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #000000;
        }
        .salle-name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .salle-address {
            color: #666;
            margin-bottom: 5px;
        }
        .salle-region {
            color: #888;
        }
    </style>

    <h1>Liste des Salles</h1>

    {% for salle in salles %}
        <div class="salle-card">
            <div class="salle-name"> <a href="{{ path('app_salle_show', {'idS': salle.idS}) }}">{{ salle.nom }}</a>  <a href="{{ path('app_salle_edit', {'idS': salle.idS}) }}" class="white-text">edit</a>  </div>
            <div class="salle-address">{{ salle.adresse }}</div>
            <div class="salle-region">{{ salle.region }}</div>
        </div>
    {% endfor %}
{% endblock %}

