{% extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}

    <h1>Salle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ salle.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ salle.adresse }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ salle.region }}</td>
            </tr>
            <tr>
    <th>Options</th>
    <td>
        <ul>
            {% for option in salle.options %}
                <li>{{ option }}</li>
            {% endfor %}
        </ul>
    </td>
</tr>

            <tr>
                <th>Imagesalle</th>
                <td>{{ salle.imagesalle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('index') }}">back to list</a>

    <a href="{{ path('app_salle_edit', {'idS': salle.idS}) }}">edit</a>

    {{ include('salle/_delete_form.html.twig') }}
{% endblock %}
