<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{# <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700;800&display=swap" rel="stylesheet"> #}
		{# <link rel="stylesheet" href="{{ asset('css/style2.css') }}"> #}


	</head>
	<body>
		<!-- partial:index.partial.html -->
		


				{# <div class="circles--top">
									<svg>
										<defs>
											<circle id="circle-template" r="153"/>
										</defs>
										<g class="group--thin-circles--top" transform="translate(-75,195)">
											<use xlink:href="#circle-template"/>
											<use xlink:href="#circle-template" transform="scale(1.09)"/>
											<use xlink:href="#circle-template" transform="scale(1.18)"/>
											<use xlink:href="#circle-template" transform="scale(1.27)"/>
											<use xlink:href="#circle-template" transform="scale(1.36)"/>
										</g>
									</svg>
								</div> #}

  <img src="{{ asset({{event_photo}}) }}" alt="">
				


				{# <g class="group--circle" transform="translate(30, -19) scale(1.1)">
										<circle class="circle--border-two" r="264" cx="430" cy="220"/>
										<circle class="circle--border-two--wrap" r="264" cx="430" cy="220"/>
										<circle class="circle--border-one" r="200" cx="430" cy="220"/>
										<circle class="circle--border-one--wrap" r="200" cx="430" cy="220"/>
										<circle class="circle--main" r="160" cx="430" cy="220" fill="url(#img)"/>
									</g> #}


				<div >
					<h1>
						<span>{{event_name}}</span>
						<span></span>
					</h1>
					<h3>Date de Debut:
						{{event_date}}</h3>
					<h3>Date de FIN:
						{{event_end_date}}</h3>
					<h3>TEMPS:
						{{event_time}}</h3>
				</div>
			</div>

			{# <div class="circles">
							<svg height="100%" width="100%">
								<g class="group--thin-circles" transform="translate(227.5,220)">
									<use xlink:href="#circle-template"/>
									<use xlink:href="#circle-template" transform="scale(1.09)"/>
									<use xlink:href="#circle-template" transform="scale(1.18)"/>
									<use xlink:href="#circle-template" transform="scale(1.27)"/>
									<use xlink:href="#circle-template" transform="scale(1.36)"/>
								</g>
							</svg>
						</div> #}

			<div >
				<p>{{event_description}}</p>
				<div >
					<h3>location:
						{{event_location}}</h3>
					<h3>city:
						{{event_city}}</h3>
					<h4>genre:
						{{event_genre}}</h4>
					<h4>type:
						{{event_type}}</h4>
					<h4>capacity:
						{{event_capacity}}</h4>

				</div>
			</div>

			{# <div class="contact">
							<h4>Contact Us</h4>
							<div class="list">
								<p>{{event_telephone}}</p>
								<div class="circle-wrap">
									<svg class="icon-phone" viewbox="-7 -4 44 44" width="19" height="19">
										<path d="M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z"></path>
									</svg>
								</div>
							</div>
							<div class="list">
								<p>{{event_email}}</p>
								<div class="circle-wrap">
									<svg class="icon-envelop" viewbox="-7 -6 46 46" width="19" height="19">
										<path d="M29 4h-26c-1.65 0-3 1.35-3 3v20c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-20c0-1.65-1.35-3-3-3zM12.461 17.199l-8.461 6.59v-15.676l8.461 9.086zM5.512 8h20.976l-10.488 7.875-10.488-7.875zM12.79 17.553l3.21 3.447 3.21-3.447 6.58 8.447h-19.579l6.58-8.447zM19.539 17.199l8.461-9.086v15.676l-8.461-6.59z"></path>
									</svg>
								</div>
							</div>
							<div class="list">
								<p>{{event_ig_link}}</p>
								<div class="circle-wrap">
									<svg class="icon-cog1" viewbox="-7 -7 46 46" width="19" height="19">
										<path d="M29.181 19.070c-1.679-2.908-0.669-6.634 2.255-8.328l-3.145-5.447c-0.898 0.527-1.943 0.829-3.058 0.829-3.361 0-6.085-2.742-6.085-6.125h-6.289c0.008 1.044-0.252 2.103-0.811 3.070-1.679 2.908-5.411 3.897-8.339 2.211l-3.144 5.447c0.905 0.515 1.689 1.268 2.246 2.234 1.676 2.903 0.672 6.623-2.241 8.319l3.145 5.447c0.895-0.522 1.935-0.82 3.044-0.82 3.35 0 6.067 2.725 6.084 6.092h6.289c-0.003-1.034 0.259-2.080 0.811-3.038 1.676-2.903 5.399-3.894 8.325-2.219l3.145-5.447c-0.899-0.515-1.678-1.266-2.232-2.226zM16 22.479c-3.578 0-6.479-2.901-6.479-6.479s2.901-6.479 6.479-6.479c3.578 0 6.479 2.901 6.479 6.479s-2.901 6.479-6.479 6.479z"></path>
									</svg>
								</div>
							</div>
							<div class="list">
								<p>{{event_fb_link}}</p>
								<div class="circle-wrap">
									<svg class="icon-facebook" viewbox="-7 -7 46 46" width="19" height="19">
										<path d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path>
									</svg>
								</div>
							</div>
						</div> #}
		<!-- partial -->

	</body>
</html>
