{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
    <!-- Body content -->
    <div class="container">
        <div class="left-half">
            <h1 class="indexAvis">Avis index</h1>

            <table class="table indexAvis">
                <thead>
                    <tr>
                        <th>Ida</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for avi in avis %}
                    <tr>
                        <td>{{ avi.ida }}</td>
                        <td>{{ avi.type }}</td>
                        <td>{{ avi.description }}</td>
                        <td>
                            <a href="{{ path('app_avis_show', {'ida': avi.ida}) }}" class="indexAvis">show</a>
                            <a href="{{ path('app_avis_edit', {'ida': avi.ida}) }}" class="indexAvis">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="no-records">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_avis_new') }}" class="btn btn-primary">Create new</a>
        </div>
        <div class="right-half">
            <!-- Empty right half -->
        </div>
    </div>
{% endblock %}
